body {
  margin: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.home-card, .all-card {
  border: thin solid grey;
  border-radius: 5px;
  background: darkgray;
}

.header-card {
  background-color: darkgrey;
}

.journal-card {
  background: rgb(244, 122, 115);
  cursor: pointer;
}
.journal-card:hover{
  background: rgb(234, 117, 112);
  cursor: pointer;
}
.home-calendar {
  background: rgba(128, 177, 211, 0.76);
  cursor: pointer;
}
.home-calendar:hover{
  background: #80b1d3;
  cursor: pointer;
}
.home-ideas {
  background: rgba(255, 255, 179, 0.76);
  cursor: pointer;
}
.home-ideas:hover{
  background: #ffffb3;
  cursor: pointer;
}
.home-todo {
  background: rgba(141, 211, 199, 0.75);
  cursor: pointer;
}
.home-todo:hover{
  background: #8dd3c7;
  cursor: pointer;
}





.all-backBtn{
  background: #d3d3d3;
  cursor: pointer;
}

.all-backBtn:hover{
  background: #b5b5b5;
  cursor: pointer;
}



.move-next{
  background: darkgrey;
  cursor: pointer;
}
.move-next:hover{
  background: #979797;
  cursor: pointer;
}